<div class="ac-banner ac-banner-bottom">
  <img
    class="ac-theme-banner"
    src="<%- url_for(theme.banners.footer_light) %>"
    data-light-src="<%- url_for(theme.banners.footer_light) %>"
    data-dark-src="<%- url_for(theme.banners.footer_dark) %>"
    alt=""
  >
</div>
