<div class="ac-banner ac-banner-top">
  <img
    class="ac-theme-banner"
    src="<%- url_for(theme.banners.header_light) %>"
    data-light-src="<%- url_for(theme.banners.header_light) %>"
    data-dark-src="<%- url_for(theme.banners.header_dark) %>"
    alt=""
  >
</div>
